nav.navbar.navbar-expand-lg.navbar-light.bg-light.col-12
    a.navbar-brand.col-9(href='#') EVENT
    |   
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    |   
    #navbarSupportedContent.collapse.navbar-collapse.col-3
        ul.navbar-nav.mr-auto.col-12
            li.nav-item
                a.nav-link(href='#') HELP
            if (!currentUser)
                li.nav-item
                    a.nav-link(href='#') SIGNIN
            else
                li.nav-item
                    a.nav-link(href='#') SIGNOUT
                li.nav-item
                    a.nav-link(href='#')   MYPAGE
            li.nav-item
                a.nav-link(href='#') CREATE EVENT