extends layout

block content
    .col-12.mx-auto
        .card.border-dark.mb-3(style='max-width: 20rem;')
                .card-header.text-center SIGNIN
                |   
                .card-body.text-dark
                    h4.card-title Dark card title
                    |     
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card's content.
