extends layout

block content
     .container.mt-5
        .clearfix
            form.form-signin.col-md-6.col-12.mx-auto(action='/signin', method='POST')
                h3.form-signin-heading Signin
                label.sr-only(for='email') Email address
                input(
                    type='email', id='email', name='email', class='form-control', 
                    placeholder='Email address', required, autofocus
                )
                label.sr-only(for='password') Password
                input(
                    type='password', id='password', name='password', class='form-control', 
                    placeholder='Password', required, autofocus
                )
                button.signinbutton.btn.btn-block(type='submit') Signin
                hr
                a.btn.btn-block.facebookbutton(href='/auth/facebook')
                    i.fa.fa-facebook.fa-lg
                    | &nbsp;
                    | Signin with Facebook
                //-카카오 로그인
                a.btn.kakaobutton(href='/auth/kakao')
                    i.
                    | &nbsp;
                    | Signin with kakao
                                        
                div.sub 
                    a(href='/users/new') Signup