.event-like-btn, .event-join-btn {
    .for-loading {display: none;}
    cursor: pointer; 
  
    &.loading {
      & > span {display: none;}
      .for-loading {display: inline-block;}
      filter: opacity(30%);
      cursor: wait;
    }
  
    &.disabled {
      color: #bbb;
      cursor: default;
    }
  }
.map_wrap {
  position:relative;
  width:100%;
  height:350px;
}
.title {
  font-weight:bold;
  display:block;
}
.hAddr {
  position:absolute;
  left:10px;
  top:10px;
  border-radius: 2px;
  background:#fff;
  background:rgba(255,255,255,0.8);
  z-index:1;
  padding:5px;
}
#centerAddr {
  display:block;
  margin-top:2px;
  font-weight: normal;
}
.bAddr {
  padding:5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.slide-img-size{
  height:auto;
  max-height: 700px;
  width:auto;
}

.slide-img{
  width: 100%;
  height: 450px;
}

.showbody{
  background-color:white;
}

.backset{
  background-color: rgba(230, 230, 230, 0.774);
}

.img-fluid{
  height:300px;
  width:300px;
}