.main_card_img{
  height : auto;
  max-height : 40em; 
}

.topnavtitle{
  color:#f6682F;
}

.registerbutton{
  color:white;
  background-color:#f6682F; 
  border-color: #f6682F; 
}

.card_main{
  display:inline-block;
}

.footer{
 background-color:rgb(65, 61, 61);
 color : white;
}

.main_img{
  margin-bottom:-10%;
  z-index:-1;
}

#create_event {
   color: #0278b8;
}

#dropdownMenuLink{
  background-color: #f8f9fa;
  color:black;
}

#exprience{
  color:#f6682F;
}

.card-img{
  max-height: 400px;
  height: auto;
  margin: 1em;
}

.main_search{
  height:300px;
}

.col-center{
  margin: 0 auto;
  float:none;
}
.txt-color a{
  color:white;
}

#seemore{
  width: 200px;
}

@media only screen and (max-device-width : 768px) {

  #bottom{
    display: none;
  }

  #carouselExampleSlidesOnly{
    display: none;
  }

}
