.signinbutton{
  color:white;
  background-color:#f6682F; 
  border-color: #f6682F; 
}

.facebookbutton{
  color: white;
  background-color: #4d70ba;
  border-color: #4d70ba;
}

.kakaobutton{
  width:100%;
  color: black;
  background-color: #ffee00;
  border-color: #ffee00;
}
