//- .content= event.content
.row
    .col-sm
        .numbers.
            #[span.number.num-join= log.event.numAttendance] attendance,
            #[span.number.num-likes= log.event.numLikes] likes,
            #[span.number.num-answers= log.event.numAnswers] answers,
            #[span.number.num-reads= log.event.numReads] reads
    .col-sm
        .author
        | asked on #{moment(log.event.createdAt).format('YYYY-MM-DD')}
        if log.author
            | 
            | by #[a(href=`/users/${log.author.id}`)= log.author.name] 
