extends ../layout

block content
    .container
        form.col-10.mx-auto(action='/users/',method='POST')
            .form-group
                label(for='name') Name
                input.form-control(type='text', id='name', name='name', placeholder='Your name' , value=user.name)
            .form-group
                label(for='email') Email address
                input.form-control(type='email', id='email', name='email', placeholder='Email' , value=user.email)
            .form-group
                label(for=now_password) Now Password
                input.form-control(type='password', id='now_password', name='now_password', placeholder='Password')
            .form-group
                label(for='new_password') New Password
                input.form-control(type='password', id='new_password', name='new_password', placeholder='Password')
            .form-group
                label(for='password_confirmation') Password Confirmation
                input.form-control(type='password', id='new_password_confirmation', name='new_password_confirmation', placeholder='Password')
                
                button.btn.registerbutton(type="submit") Register

