extends ../layout

include ../includes/_paginate

block content
  .container
    h1.main-title.mt-4
      | 좋아하는 이벤트

    if logs.total <= 0 
      .alert.alert-info No events available yet
    else
      .logs
        each log in logs
          hr
          .log.mt-4
            h3
              a.title(href=`/event/${log.event.id}`)= log.event.title
            include _event

            a.mt-3.mb-3.btn.btn-sm.need-confirm-btn.btn-outline-danger(href=`/users/favorite/${log._id}?_method=DELETE`)
              | #[i.fa.fa-trash] 좋아요 최소