extends ../layout

include ../includes/_paginate

block content
  .container
    //- form.form-inline.search-input-group(action='/event', method='GET')
    //-   i.fa.fa-search
    //-   input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)
    h1.main-title
      | 참여한 이벤트

    if logs.total <= 0 
      .alert.alert-info No events available yet
    else
      .logs
        each log in logs
          .log
            h3
              a.title(href=`/event/${log.event.id}`)= log.event.title
            include _event

      hr
      a.btn.btn-primary(href='/event/newevent') Create Event
