extends ../layout

include ../includes/_paginate

block content
  .container
    h1.main-title 
      | Events
      if events.total > 0
        .small Total #{events.total} events(s)

    include _list