//- .content= event.content
.row
    .col-sm
        .numbers.
            #[span.number.num-join= event.numAttendance] attendance,
            #[span.number.num-likes= event.numLikes] likes,
            #[span.number.num-answers= event.numAnswers] answers,
            #[span.number.num-reads= event.numReads] reads
    .col-sm
        .author
        | asked on #{moment(event.createdAt).format('YYYY-MM-DD')}
        if event.author
            | 
            | by #[a(href=`/users/${event.author.id}`)= event.author.name] 
