//- .content= event.content
.row
    .col-sm
        .numbers.
            #[span.number.num-join= event.numAttendance] attendance,
            #[span.number.num-likes= event.numLikes] likes,
            #[span.number.num-answers= event.numComments] comments,
            #[span.number.num-reads= event.numReads] reads
    .col-sm
        .author
        | create on #{moment(event.createdAt).format('YYYY-MM-DD')}
        if event.author
            | 
            | by #[= event.author.name] 
