extends ../layout

include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/event', method='GET')
      i.fa.fa-search
      input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)

    h1.main-title 
      | Events
      if events.total > 0
        .small Total #{events.total} events(s)

    if events.total <= 0 
      .alert.alert-info No events available yet
    else
      .events
        each events in events.docs
          .event
            a.title(href=`/event/${event.id}`)= event.title
            include _event

      +paginate(events, '/event', query)

    hr
    a.btn.btn-primary(href='/event/newevent') Create Event
