extends ../layout

block content
    .container
        form.col-10.mx-auto(action=`/event/${currentUser._id}`,method='POST')
            include _form
            button.btn.registerbutton.btn-color(type="submit") Create Your Event               

                
