extends ../layout

include ../includes/_paginate

block content
  .container
    h1.main-title=title
      | 
    include _list

      hr
      a.m-3.btn.btn-primary(href='/event/newevent') Create Event
