extends ../layout

include ../includes/_paginate

block content
  .container
    //- form.form-inline.search-input-group(action='/event', method='GET')
    //-   i.fa.fa-search
    //-   input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)
    h1.main-title=title
      | 
    include _list

      hr
      a.btn.btn-primary(href='/event/newevent') Create Event
